.slider img {
  display: none;
}

.slider img.active {
  display: inline-block;
}

i {
  cursor: pointer;
}

#slider-indicators {
  background-color: rgba(0,0,0,0.5);
  border-radius: 30px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.indicator {
  background-color: white;
  cursor: pointer;
}

.indicator.active {
  background-color: blue;
}